<h3>
  New Stamp
</h3>
<form>
  <div class="form-group">
    <label for="continent">Continent</label>
    <select id="continent" class="form-control" (change)="onContinentChange()" [(ngModel)]="stamp.continent" name="continent">
      <option value=""></option>
      <option *ngFor="let c of continents" value="{{ c.id }}">{{ c.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <select id="country" class="form-control">
      <option value=""></option>
      <option *ngFor="let c of countries" value="{{ c.id }}">{{ c.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <p>Category</p>
    <div class="form-check form-check-inline" *ngFor="let c of categories">
      <input class="form-check-input" type="radio" name="category" id="category{{ c.id }}"> {{ c.name }}
      <label class="form-check-label" for="category{{ c.id }}"></label>
    </div>
  </div>
  <div class="form-group">
      <label for="Year">Year</label>
      <input id="Year" type="number" min="1840" max="{{ currentYear }}" class="form-control">
    </div>
  <div class="form-group">
    <label for="Title">Title</label>
    <input id="Title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input id="Description" type="text" class="form-control">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
