<header>
<ng-template [ngIf]="loadStamp" [ngIfElse]="newStamp">
  <h4>Update Stamp</h4>
 </ng-template>
 
 <ng-template #newStamp>
  <h4>Add New Stamp</h4>
 </ng-template>
</header>
<p>
  {{ stamp | json }}
</p>
<form (ngSubmit)="submit()" #frm="ngForm">
  <div class="form-group">
    <label for="continent">Continent</label>
    <select id="continent" class="form-control" (change)="onContinentChange()" [(ngModel)]="stamp.continentId" name="continentId"
      required #continent="ngModel">
      <option value=""></option>
      <option *ngFor="let c of continents" value="{{ c.id }}">{{ c.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="continent.touched && !continent.valid">
      Please specify the continent.
    </div>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <select id="country" class="form-control" [(ngModel)]="stamp.countryId" name="countryId" required #country="ngModel">
      <option value=""></option>
      <option *ngFor="let c of countries" value="{{ c.id }}">{{ c.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="country.touched && !country.valid">
      Please specify the country.
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" class="form-control" [(ngModel)]="stamp.categoryId" name="categoryId" required #category="ngModel">
      <option value=""></option>
      <option *ngFor="let c of categories" value="{{ c.id }}">{{ c.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
      Please specify the category.
    </div>
  </div>
  <div class="form-group">
    <label for="Year">Year</label>
    <input id="Year" type="number" min="1800" max="{{ currentYear }}"
    pattern="^(18|19|20)\d{2}$"
    class="form-control" [(ngModel)]="stamp.yearIssued" name="yearIssued" required #year="ngModel">
      <div class="alert alert-danger" *ngIf="year.touched && !year.valid">
          Please specify the year issued.
        </div>
  </div>
  <div class="form-group">
    <label for="Title">Title</label>
    <input id="Title" type="text" class="form-control" [(ngModel)]="stamp.title" 
    name="title" required maxlength="255" #title="ngModel">
    <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
        Please specify the title.
      </div>
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input id="Description" type="text" class="form-control" [(ngModel)]="stamp.description" name="description">
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-primary" [disabled]="!frm.valid">Save</button>
      </div>
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        <button *ngIf="loadStamp" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>

</form>

<footer>
  <p></p>
</footer>
