<h3>
  New Stamp
</h3>
<p>
  {{ stamp | json }}
</p>
<form (ngSubmit)="submit()">
  <div class="form-group">
    <label for="continent">Continent</label>
    <select id="continent" class="form-control" (change)="onContinentChange()" [(ngModel)]="stamp.continentId" name="continentId">
      <option value=""></option>
      <option *ngFor="let c of continents" value="{{ c.id }}">{{ c.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <select id="country" class="form-control" [(ngModel)] = "stamp.countryId" name="countryId">
      <option value=""></option>
      <option *ngFor="let c of countries" value="{{ c.id }}">{{ c.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <p>Category</p>
    <div class="form-check form-check-inline" *ngFor="let c of categories">
      <input type="radio" id="category{{ c.id }}" class="form-check-input"  name="categoryId" 
       [value]="c.id" (change)="onCategoryChange(c)"> 
      <label class="form-check-label" for="category{{ c.id }}">{{ c.name }}</label>
    </div>
  </div>
  <div class="form-group">
      <label for="Year">Year</label>
      <input id="Year" type="number" min="1840" max="{{ currentYear }}" class="form-control"
      [(ngModel)] = "stamp.yearIssued" name="yearIssued">
    </div>
  <div class="form-group">
    <label for="Title">Title</label>
    <input id="Title" type="text" class="form-control" [(ngModel)] = "stamp.title" name="title">
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input id="Description" type="text" class="form-control" [(ngModel)] = "stamp.description" name="description">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
